body{
    background-color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.shadow-box {
    font-size: 24px;
    font-weight: bold;
    /*color: white;*/
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
    padding: 10px;
    /*background-color: #333;*/
    width: 75%;
    margin: 20px auto;

}